//Sorry, this could be prettier. Things are looking good now though, so I'm keeping it haha
html {
    box-sizing: border-box;
    height: 100%;
    body {
        #navbar {
            background-color: black;
        }
        height: 100%;
        /*padding-top: 100px;*/
        /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        font-family: 'Roboto',
        sans-serif;
        font-weight: 700;
        img {
            cursor: pointer !important;
        }
    }
    footer {
        margin: 50px 0;
        text-align: center;
        #moreResults--button {
            text-align: center;
            display: none;
        }
        #moreResults--loader {
            display: block;
            width: 100%;
            text-align: center;
            #moreResults--slackie {
                display: none;
            }
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.fullScreenImageHolder {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    -moz-transform: translate(0%, 0%) !important;
    /*WHY MOZILLA?, WHY!!!?*/
}

.fullScreenImage {
    width: auto !important;
    height: 100% !important;
    max-width: 100% !important;
}

#slackie-logo-container {
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    margin-top: .5em;
    margin-right: 1em;
    margin-left: .5em;
    #slackie-logo-a {
        display: block;
        height: 100%;
    }
    #slackie-logo-img {
        position: relative;
        height: 50px;
    }
    #slackie-logo-span {
        display: inline-block;
        position: relative;
    }
}

#results {
    padding-top: 80px;
    #parent {
        margin: 5px;
        /*when screen is small, icons don't bump out */
        .resultDiv {
            display: inline-block;
            cursor: pointer;
            max-height: 200px;
            height: 200px;
            padding: 10px;
            @extend .hvr-grow;
        }
        .resultA {
            height: 100%;
            cursor: pointer;
            text-decoration: none;
        }
        .resultImg {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            height: 100% !important;
        }
    }
}

#slackie-overlay {
    opacity: 0;
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    z-index: 10000; //jiggawatts
    color: #fff;
    height: 100%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    #slackie-slider {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 15px;
    }
    #slackie-image-loader {
        display: block;
    }
    #slackie-image-holder {
        background-color: black;
        opacity: 1;
        position: absolute;
        max-height: 100%;
        // max-width: 100%;
        top: 50%;
        left: 50%;
        // width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        box-shadow: 0 0 8px rgba(0, 0, 0, .6);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    #slackie-image {
        display: block;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        z-index: 10001;
        background-color: rgba(0, 0, 0, 0.9);
        img {
            margin-right: auto;
            margin-left: auto;
            max-width: 100%;
            max-height: 80%;
        }
    }
    #slackie-caption {
        color: white;
        opacity: 0;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        line-height: 1.8;
        white-space: normal;
        background-color: #000;
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 0 0 8px rgba(0, 0, 0, .6);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity .5s ease;
        transition: opacity .5s ease;
    }
}

.arrow-button {
    top: 50%;
    top: calc(50% - 30px);
}

.slackie-button {
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6em;
    @extend .hvr-grow;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }
    &#next-button {
        @extend .arrow-button;
        right: 2%;
        right: calc(2% + 6px);
    }
    &#previous-button {
        @extend .arrow-button;
        left: 2%;
        left: calc(2% + 6px);
    }
    &#close-button {
        @extend .arrow-button;
        top: 20px;
        right: 2%;
        right: calc(2% + 6px);
    }
    &#fullscreen-button {
        bottom: 20px;
        right: 2%;
        right: calc(2% + 6px);
    }
    &#download-button {
        bottom: 20px;
        left: 2%;
        left: calc(2% + 6px);
    }
}


/*
 *
 *  VISUAL EFFECTS
 *
 */


/* Grow */

.hvr-grow {
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 0.1s ease-in-out;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.displayNone {
    display: none !important;
}

.displayBlock {
    display: block !important;
}

.opacityNone {
    visibility: hidden !important;
    opacity: 0 !important;
}

.opacityFull {
    visibility: visible !important;
    opacity: 1 !important;
}

.visuallyShow {
    opacity: 1 !important;
    visibility: visible !important;
}

.visuallyHide {
    opacity: 0 !important;
    visibility: hidden !important;
}

.bounce-from-right {
    animation: bounceFromRight .3s ease-out;
}

.bounce-from-left {
    animation: bounceFromLeft .3s ease-out;
}

@keyframes bounceFromRight {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes bounceFromLeft {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0;
    }
}


/*
 *
 *  FONTS
 *
 */


/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v15-latin/roboto-v15-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v15-latin/roboto-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v15-latin/roboto-v15-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v15-latin/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v15-latin/roboto-v15-latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/*
 *
 *  SEARCH BAR AND DROPDOWN MENU
 *
 */

#search--input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0 !important;
    margin-left: -1px !important;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.form-horizontal .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

@media screen and (max-width: 768px) {
    #slackie-logo-container {
        display: none !important;
    }
}


/* MEDIA QUERIES FOR SEARCH AND DROPDOWN */

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}